.App {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  border-radius: 8px;
  max-width: 100%;
  height: auto;
  display: block;
}

:root {
  --clr-primary: #678e3e;
  --clr-primarylite: #beed8c;
  --clr-grey1: #102a42;
  --clr-grey5: #617d98;
  --clr-grey10: #f1f5f8;
  --clr-white: #fff;
  --ff-primary: 'catamaran', sans-serif;
  --ff-secondary: 'Grand Hotel', cursive;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --speed: 500ms;
}
button {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  font-size: 18px;
  color: var(--clr-grey1);
  cursor: pointer;
  background-color: var(--clr-grey5);
}
h1,
h2,
h3,
h3 {
  letter-spacing: var(--spacing);
  line-height: 1.25;
  text-transform: capitalize;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
  color: #fff;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
  color: #fff;
}
h4 {
  font-size: 1rem;
}
p {
  margin-bottom: 1.25rem;
}
.register {
  margin-top: 6rem;
}
.button {
  text-transform: uppercase;
  background: var(--clr-primary);
  color: var(--clr-white);
  padding: 0.5rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  transition: var(--transition);
  font-size: 0.75rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.button:hover {
  background: var(--clr-primarylite);
  color: var(--clr-primary);
}
.home {
  height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../public/pexels-pixabay-461428.jpg') center/cover no-repeat fixed;
  position: relative;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner {
  text-align: center;
  align-self: center;
}
.banner h3 {
  font-family: var(--ff-secondary);
  color: var(--clr-primary);
  animation: slidefromright 5s ease-in-out 1;
}
.banner h2 {
  text-transform: uppercase;
  color: var(--clr-white);
  margin-top: 1.25rem;
  margin-bottom: 2rem;
  animation: slidefromleft 5s ease-in-out 1;
}

@keyframes slidefromleft {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  50% {
    transform: translateX(200px);
    opacity: 0.5;
  }
  75% {
    transform: translateX(-100px);
    opacity: 0.75;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slidefromright {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  50% {
    transform: translateX(-200px);
    opacity: 0.5;
  }
  75% {
    transform: translateX(100px);
    opacity: 0.75;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.register p {
  color: var(--clr-white);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* sign UP and Log-in*/
.sign-up {
  background-color: var(--clr-grey10);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30rem;
  float: right;
}
.sign-up h1,
h3 {
  color: var(--clr-grey5);
}
.sign-up input,
select {
  width: 75%;
  margin: 1rem;
  padding: 1rem;
  display: block;
  background-color: var(--clr-primarylite);
  border-radius: var(--radius);
  border: none;
}
.input-submit {
  background-color: var(--clr-primary);
  width: 100%;
  padding: 1rem;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.input {
  background-color: var(--clr-white);
  border-radius: var(--radius);
  box-shadow: 0, 0, 0, rgba(0, 0, 0, 0.1);
  transition: var(--transition);
  width: 20rem;
}
.input:hover {
  box-shadow: 0, 0, 0, rgba(0, 0, 0, 0.2);
}
.sign-up .link {
  text-decoration: none;
  color: var(--clr-grey1);
}
/* log-in page*/
